<?xml version="1.0" encoding="utf-8"?>
<manifest package="de.lmu.dwII2016.demo2.festivalfrunangepasstekunst"
   xmlns:android="http://schemas.android.com/apk/res/android">

   <application
      android:allowBackup="true"
      android:icon="@drawable/ic_launcher"
      android:label="@string/app_name"
      android:theme="@style/Festival">
      <activity
         android:name=".SelectFestivalActivity"
         android:label="@string/app_name">
         <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
         </intent-filter>
      </activity>
      <activity
         android:name=".FestivalOverviewActivity"
         android:parentActivityName=".SelectFestivalActivity"
         android:theme="@style/Festival.TabbedActionBar">
         <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".SelectFestivalActivity" />
      </activity>
      <activity
         android:name=".WerkDetailActivity"
         android:label="@string/title_activity_werk_detail"
         android:parentActivityName=".FestivalOverviewActivity"
         android:theme="@style/Festival.TabbedActionBar">
         <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="de.lmu.dwII2016.demo2.festivalfrunangepasstekunst.FestivalOverviewActivity" />
      </activity>
      <activity
         android:name=".FullscreenActivity"
         android:configChanges="orientation|keyboardHidden|screenSize"
         android:parentActivityName=".WerkDetailActivity"
         android:theme="@style/Festival.FullscreenTheme">
         <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="de.lmu.dwII2016.demo2.festivalfrunangepasstekunst.WerkDetailActivity" />
      </activity>
      <activity android:name=".ImpressumActivity"
         android:label="@string/title_activity_impressum"
         android:parentActivityName=".FestivalOverviewActivity"
         android:theme="@style/Festival.TabbedActionBar">
         <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="de.lmu.dwII2016.demo2.festivalfrunangepasstekunst.FestivalOverviewActivity" />
      </activity>
   </application>

</manifest>