<?xml version="1.0" encoding="utf-8"?>
<manifest package="de.lmu.dwII2016.demo2.festivalfrunangepasstekunst"
   xmlns:android="http://schemas.android.com/apk/res/android">

   <application
      android:allowBackup="true"
      android:icon="@drawable/ic_launcher"
      android:label="@string/app_name"
      android:theme="@style/Festival">
      <activity
         android:name=".WeekendSelectActivity"
         android:label="@string/app_name">
         <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
         </intent-filter>
      </activity>
      <activity
         android:name=".DemokratieOverviewActivity"
         android:label="@string/title_activity_demokratie_overview"
         android:parentActivityName=".WeekendSelectActivity"
         android:theme="@style/Festival.TabbedActionBar">
         <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="WeekendSelectActivity" />
      </activity>
   </application>

</manifest>